@model Ovning12Garage2._0.Models.ViewModel
@{
    ViewData["Title"] = "Unpark";
}
 
@{
    DateTime arrivalTime = Model.TimeOfArrival;
    int pricePerHour = Model.PricePerHour;
    TimeSpan mindate = DateTime.Now.Subtract(arrivalTime);
    int parkHours=mindate.Hours;
    int parkMinutes = mindate.Minutes;
    int total = parkHours * 60 + parkMinutes;
    int price = total *  pricePerHour/ 60;

}
<div class="container p-5">
    <div class="header"><p>Receipt</p>
    <div class="row text-center">
       <div class="col-12  p-5">
           <h3>Parked Vehicle: @Html.DisplayFor(model => model.LicenseNumber)<br />Time of Arrival: @Html.DisplayFor(model => model.TimeOfArrival)</h3>
    </div>

      
    <div class="row border border-1">
        <div class="col-4 text-primary p-5"><h3>Timme: @parkHours</h3></div>
        <div class="col-4 text-primary text-start p-5"><h3>Minuter: @parkMinutes</h3></div>
        <div class="col-4 text-primary text-start p-5"><H3>Pris: @price</H3></div>
    </div>
         
        <div class="col-4 text-primary text-start p-5">
            <H3>Pris: @price Kr</H3>
        </div>
     </div>
     </div>
</div>
