@model IEnumerable<ParkedVehicle>

@{
    ViewData["Title"] = "Stoppa parkering";
}
<h1 class="display-4 text-center">Resultat</h1>
<div class="container m-5">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
</div>
