@model Ovning12Garage2._0.Models.ParkedVehicle
@{
    ViewData["Title"] = "Unpark";
}
<script src="site.js"></script>

<h3>Are you sure you want to unpark this vehicle? </h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
    </dl>
         <form asp-action="Unpark">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Unpark" class="btn btn-danger"/>
        <a asp-action="Index">Back to List</a>
        </form>
</div>

            @section Scripts {
    @{await Html.RenderPartialAsync("_UnparkScriptsPartial");}
}